html {
	font-family: 'arial';
}

*{
	margin:0;
	padding: 0;
}

.box {
	height: 100px;
	width: 100px;
	margin:50px auto;
	border: 1px solid black;
	transition: .3s width,
							.3s height .3s,
							.3s margin-top .3s,
							1s background-color
							;
}

.size {
	width: 200px;
	height: 200px;
	margin-top: 25px;
}

.background {
	background-color: black;
}
